.mobile-menu {
  overflow-y: auto;
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  z-index: 1000;
  height: 100dvh;
  color: #ffffff;

  transition: all .3s ease-out;

  &--bg {
    &.mobile-menu--open {
      position: fixed;;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      height: 100dvh;
      background-color: rgba(#000, .8);
      transition: all .3s ease-out;
      z-index: 1000;
    }
  }

  &--type-right {
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(100%);
    width: 100vw;
    background-color: var(--color-secondary);
    @include r($mobile-menu-breakpoint){
      width: 450px;
    }

    &.mobile-menu--open {
      transform: translateX(0);
    }
  }

}



