
//----------------------+r(1200)----------------------
@mixin rmax($width) {
  @media only screen and (max-width: #{$width}) {
    @content;
  }
}

@mixin r($width) {
  @media only screen and (min-width: #{$width}) {
    @content;
  }
}

@mixin rhmax($height) {
  @media only screen and (max-height: #{$height}) {
    @content;
  }
}

@mixin rh($height) {
  @media only screen and (min-height: #{$height}) {
    @content;
  }
}

//----------------------+pseudo----------------------
%pseudo {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
  }
}
@mixin pseudo {
  @extend %pseudo;
}
@mixin cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
//----------------------+absolute----------------------
@mixin absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
//----------------------+rotate----------------------
@mixin rotate($var) {
  transform: rotate($var+deg);
}
//----------------------+scale----------------------
@mixin scale($var) {
  transform: scale($var);
}
//----------------------+transition----------------------
@mixin transition {
  transition: all .6s;
}

//----------------------+between----------------------
@mixin between {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
//----------------------+around----------------------
@mixin around {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
//----------------------+last----------------------
%last {
  &:last-child {
    margin-bottom: 0;
  }
}
@mixin last {
  @extend %last;
}

//------------------------underline-hover------------------

@mixin underline-hover($color: currentColor, $thickness: 1px, $duration: 0.3s, $height: -2px) {
  position: relative;
  display: inline-block;
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    bottom: $height;
    left: 0;
    width: 0;
    height: $thickness;
    background-color: $color;
    transition: width $duration ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }
}

@mixin br($brp) {
  br {
    display: none;

    @include r($brp) {
      display: inline;
    }
  }
}



