.page-404 {
  background-color: var(--color-secondary);

  &__container.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100svh - 65px);
    padding-top: 100px;

    @include r($brp-768) {
      padding-top: 130px;
      min-height: 100svh;
    }

    @include r($brp-1200) {
      @include rhmax($brp-768) {
        padding-top: 190px;
      }
    }
  }

  &__title {
    color: var(--color-secondary-txt);
    margin-bottom: 30px;
  }

  &__desc {
    color: var(--color-secondary-txt);
    margin-bottom: 30px;
    @include fluidSize(16px, 20px, 320px, $design-width, 'font-size');
    font-weight: 300;
    line-height: 1.5;
  }
}