.safe-travels-top-places{
  padding-top: 50px;
  padding-bottom: 50px;

  @include r($brp-992){
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.safe-travels {
  padding-bottom: 50px;
  @include r($brp-992){
    padding-bottom: 100px;
  }

  &__container{
    max-width: 920px;

    h2, h3,h4{
      text-align: center;
      @include r($brp-576){
        text-align: left;
      }
    }
  }
}