.testimonials-hero{
  .hero__img img{
    object-position: -165px 0;
    @include r($brp-1140){
      object-position: center;
    }
  }
}

.testimonials {
  padding-top: 40px;
  padding-bottom: 50px;
  @include r($brp-992) {
    padding-top: 120px;
    padding-bottom: 100px;
  }

  &__wrap {
    @include r($brp-992) {
      display: flex;
      justify-content: space-between;
      gap: 25px;
    }
  }

  &__content {
    flex: 1;
    width: 100%;
    margin-bottom: 50px;

    @include r($brp-992) {
      max-width: 60%;
      margin-bottom: 0;
    }
    @include r($brp-1280) {
      max-width: 640px;
    }
  }

  &__item{
    margin-bottom: 50px;
    @include r($brp-992) {
      margin-bottom: 90px;
    }
  }

  &__icon{
    margin-bottom: 25px;
  }

  &__text{
    font-size: 16px;
    margin-bottom: 25px;
  }

  &__author-name{
    font-size: 16px;
    margin-bottom: 5px;
  }

  &__date{
    font-size: 14px;
  }



  //SIDEBAR//

  &__sidebar {
    flex: 1;
    width: 100%;

    @include r($brp-992) {
      max-width: 415px;
    }
  }

  //FORM//

  &__form{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: var(--color-secondary);
    padding: 30px;
  }

  &__form-subtitle{
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #CBC284;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
  }

  &__form-title{
    color: var(--color-secondary-txt);
    margin-bottom: 25px;
  }

  &__label {
    display: block;
    font-size: 12px;
    color: var(--color-secondary-txt);
    margin-bottom: 35px;
    text-transform: uppercase;

    &:last-child {
      margin-bottom: 30px;
    }

    >span {
      overflow: hidden;
      margin-top: 10px;
      border-radius: 4px;
    }

  }

  &__input {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: var(--color-secondary);
    padding: 10px 15px;
    font-size: 16px;
    color: var(--color-secondary-txt);
    transition: all $transition-style-fast;
    margin-bottom: 15px;

    &::placeholder{
      color: var(--color-secondary-txt);
      font-size: 16px;
    }

    &:focus {
      outline: none;
    }
  }

  &__textarea {
    resize: none;
    font-size: 16px;
    color: var(--color-secondary-txt);
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: var(--color-secondary);
    padding: 10px 15px;
    margin-bottom: 25px;

    &::placeholder{
      font-size: 16px;
      color: var(--color-secondary-txt);
    }

    &:focus {
      outline: none;
    }
  }

  .wpcf7-acceptance {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 14px;
    margin-bottom: 25px;
    color: var(--color-secondary-txt);
  }

  .wpcf7-acceptance input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background-color: #FFFFFF;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
    margin-top: 3px;
    outline: none;
  }

  .wpcf7-acceptance input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 5px;
    height: 10px;
    border: solid #070707;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .wpcf7-acceptance label {
    flex-grow: 1;
    font-size: inherit;
  }

  &__form-btn{
    width: 100% !important;
  }

  &__advantages{
    border-radius: 10px;
    border: 1px solid #D1CCC6;
    padding: 30px;
  }

  &__advantages-title{
    margin-bottom: 25px;
  }

  &__advantages-list{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__advantages-icon{
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
  }

  &__advantages-item-title{
    opacity: .8;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__advantages-text{
    font-size: 16px;
  }
}